{{ define "content"}}
<h1>
    Yeni Post Ekle
    <a href="/admin" class="btn btn-outline-dark float-right"><i class="fa fa-chevron-left"></i> Geri Dön</a>
</h1>
<br>
<form action="/admin/add" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label>Blog Başlığı</label>
    <input type="text" name="blog-title" class="form-control">
  </div>
  <div class="form-group">
    <label>Blog Açıklaması</label>
    <input type="text" name="blog-desc" class="form-control">
  </div>
  <div class="form-group">
    <label>Kategori</label>
    <select name="blog-category" class="form-control">
      {{ range $index,$value := .Categories}}
      <option value="{{ $value.ID }}">{{ $value.Title }}</option>
      {{ end }}
    </select>
  </div>
  <div class="form-group">
    <label>Blog Görseli</label><br>
    <input type="file" name="blog-picture">
  </div>
  <div class="form-group">
    <label>Blog İçeriği</label>
    <textarea name="blog-content" id="summernote" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-outline-success w-100 my-3">Kaydet</button>
</form>
{{ end }}